<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757164037149-l7cvunepfub7dvcs4t49km3nqmo5vcuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757164037149-l7cvunepfub7dvcs4t49km3nqmo5vcuq</string>
	<key>API_KEY</key>
	<string>AIzaSyDo_doT13UQ3wpEVsBJc3R12ltBVC5QXio</string>
	<key>GCM_SENDER_ID</key>
	<string>757164037149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>apple-store-sem-3</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-store-sem-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757164037149:ios:ae7cb9338c65bf034122f4</string>
</dict>
</plist>